<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>产测自动化</title>
</head>
<body>
<p><input type="button" value="查看运行日志" onclick="javascript:location='{% url 'product_test:operation_subtask' index subtask.pk  'consolelog' %}';"></p>
{% for log in loglist %}
{% if '[SUCCESS]' in log %}
<p style="color:#006600">{{log}}</p>
{%elif '[FAIL]' in log %}
<p style="color:#FF0000">{{log}}</p>
{% elif '[ERROR]' in log %}
<p style="color:#FF6600">{{log}}</p>
{% else %}
<p>{{log}}</p>
{% endif %}
{% endfor %}
</body>
</html>